.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  width: 100%;

}

.nowrap {
  flex-wrap: nowrap;
}

.column {
  flex-direction: column;
}

.left {
  justify-content: flex-start;
  align-items: flex-start;
}

.center {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
