$white: #fff;
$black: #393933;
$overlay: #131e3d99;

$primary: #337ab7;
$secondary: #dbdbdb;
$success: #449d44;
$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;

$primary-light: #7ba9d0;
$secondary-light: #f5f5f5;
$success-light: #96d196;
$info-light: #95d6ea;
$warning-light: #f5ca8c;
$danger-light: #e6908d;
