@import '@/styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid;

  border-radius: 2.5px;

  font-size: 0.75rem;
  color: $black;

  width: 100%;
  max-width: 450px;

  .title {
    padding: 0.5rem;
    border-bottom: 1px solid;
    color: $white;

    &.primary {
      border-color: $primary;
      background-color: $primary;
    }

    &.secondary {
      background-color: $secondary-light;
      border-color: $secondary;
      color: $black;
    }

    &.success {
      border-color: $success;
      background-color: $success;
    }

    &.info {
      border-color: $info;
      background-color: $info;
    }

    &.warning {
      border-color: $warning;
      background-color: $warning;
    }

    &.danger {
      border-color: $danger;
      background-color: $danger;
    }
  }

  .content {
    padding: 0.5rem;
    background-color: $gray-200;
  }

  .footer {
    border-top: 1px solid $secondary;
    background-color: $secondary-light;
    padding: 0.5rem;
  }


  &.primary {
    border-color: $primary;
    box-shadow: 0px 0px 2.5px 2.5px $blue-100;
  }
  &.secondary {
    border-color: $secondary;
    box-shadow: 0px 0px 2.5px 2.5px $gray-200;
  }

  &.success {
    border-color: $success;
    box-shadow: 0px 0px 2.5px 2.5px $green-100;
  }

  &.info {
    border-color: $info;
    box-shadow: 0px 0px 2.5px 2.5px $cyan-100;
  }

  &.warning {
    border-color: $warning;
    box-shadow: 0px 0px 2.5px 2.5px $orange-100;
  }

  &.danger {
    border-color: $danger;
    box-shadow: 0px 0px 2.5px 2.5px $red-100;
  }
}
