@import '@/styles/colors.scss';

button {
  border: none;
  color: $white;
  font-size: 0.75rem;

  border-radius: 2.5px;

  cursor: pointer;

  &:disabled {
    cursor: inherit;
  }
}

.full {
  width: 100%;
}

.large {
  padding: 1rem;
  font-size: 1rem;
}
.normal {
  padding: 0.75rem;
}
.small {
  padding: 0.5rem;
  font-size: 0.70rem;
}
.mini {
  padding: 0.25rem;
  font-size: 0.70rem;
}

.primary {
  background-color: $primary;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    background-color: $primary-light;
  }
}
.secondary {
  background-color: $secondary;
  transition: background-color 0.4s;
  color: $black;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    color: $black;
  }
}
.success {
  background-color: $success;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    background-color: $success-light;
  }
}
.info {
  background-color: $info;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    background-color: $info-light;
  }
}
.warning {
  background-color: $warning;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    background-color: $warning-light;
  }
}
.danger {
  background-color: $danger;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    filter: brightness(0.8);
  }
  &:disabled {
    background-color: $danger-light;
  }
}

.outline_primary {
  background: none;
  border: 1px solid $primary;
  color: $primary;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $primary;
    color: $white;
  }
  &:disabled {
    border-color: $primary-light;
    color: $primary-light;
  }
}
.outline_secondary {
  background: none;
  border: 1px solid $black;
  color: $black;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $secondary;
  }
  &:disabled {
    border-color: $secondary;
    color: $secondary;
  }
}
.outline_success {
  background: none;
  border: 1px solid $success;
  color: $success;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $success;
    color: $white;
  }
  &:disabled {
    border-color: $success-light;
    color: $success-light;
  }
}
.outline_info {
  background: none;
  border: 1px solid $info;
  color: $info;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $info;
    color: $white;
  }
  &:disabled {
    border-color: $info-light;
    color: $info-light;
  }
}
.outline_warning {
  background: none;
  border: 1px solid $warning;
  color: $warning;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $warning;
    color: $white;
  }
  &:disabled {
    border-color: $warning-light;
    color: $warning-light;
  }
}
.outline_danger {
  background: none;
  border: 1px solid $danger;
  color: $danger;
  transition: background-color 0.4s;

  &:hover:not(:disabled) {
    background-color: $danger;
    color: $white;
  }
  &:disabled {
    border-color: $danger-light;
    color: $danger-light;
  }
}
