@import '@/styles/colors.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  width: 100%;

  border: 1px solid;
  padding: 1rem;

  &.dark {
    background-color: $gray-900;
    color: $gray-100;
  }
}
