.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 0.5rem;

  margin: 1rem 0;
}

.nowrap {
  flex-wrap: nowrap;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
